/* Everything */
@import "./vars.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: var(--color-secondary);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

section {
  padding-top: 4vh;
  padding-bottom: 4vh;
}
